# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
#*       @defunkt
*       @gsketefian @JeffBeck-NOAA @RatkoVasic-NOAA @ywangwof @chan-hoo @panll @christinaholtNOAA @jkbk2004 @gspetro-NOAA @natalie-perlin @EdwardSnyder-NOAA @MichaelLueken @rickgrubin-noaa @benkozi @WeirAE @jdkublnick @priyarpillai @selbigmtnwx23

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
