bin/
exec/
lib/
lib64
sorc/build/
sorc/lib/
sorc/lib64
sorc/include/
sorc/share/
sorc/AQM-utils/
sorc/arl_nexus/
sorc/UFS_UTILS/
sorc/UPP/
sorc/ufs-weather-model/
parm/__pycache__/
parm/aqm_utils_parm/
parm/nexus_config/
parm/ufs_utils_parm/
parm/upp_parm/
parm/config.yaml
parm/*.swp
parm/log.*
tests/WE2E/WE2E_tests_*.yaml
tests/WE2E/*.txt
tests/WE2E/*.log
tests/WE2E/log.*
ush/__pycache__/
ush/aqm_utils_python/
ush/nexus_utils/
ush/python_utils/__pycache__/
ush/python_utils/workflow-tools/
ush/*.swp

*.swp
__pycache__
