[submodule "ufs_utils"]
  path = sorc/UFS_UTILS
  url = https://github.com/ufs-community/UFS_UTILS
[submodule "ufs-weather-model"]
  path = sorc/ufs-weather-model
  url = https://github.com/ufs-community/ufs-weather-model
[submodule "UPP"]
  path = sorc/UPP
  url = https://github.com/NOAA-EMC/UPP
[submodule "arl_nexus"]
  path = sorc/arl_nexus
  url = https://github.com/noaa-oar-arl/NEXUS
[submodule "aqm-utils"]
  path = sorc/AQM-utils
  url = https://github.com/NOAA-EMC/AQM-utils
