[ufs_utils]
protocol = git
repo_url = https://github.com/ufs-community/UFS_UTILS
# Specify either a branch name or a hash but not both.
#branch = develop
hash = a8dd34d
local_path = sorc/UFS_UTILS
required = True

[ufs-weather-model]
protocol = git
repo_url = https://github.com/ufs-community/ufs-weather-model
# Specify either a branch name or a hash but not both.
#branch = develop
hash = bb525bb
local_path = sorc/ufs-weather-model
required = True

[UPP]
protocol = git
repo_url = https://github.com/NOAA-EMC/UPP
# Specify either a branch name or a hash but not both.
#branch = develop
hash = baa7751
local_path = sorc/UPP
required = True

[GSI]
protocol = git
repo_url = https://github.com/NOAA-EMC/GSI.git
# Specify either a branch name or a hash but not both.
#branch = develop
hash = 4afe6ed
local_path = sorc/gsi
externals = None
required = True

[rrfs_utl]
protocol = git
repo_url = https://github.com/NOAA-GSL/rrfs_utl.git
# Specify either a branch name or a hash but not both.
#branch = develop
hash = 6cacff5
local_path = sorc/rrfs_utl
required = True

[arl_nexus]
protocol = git
repo_url = https://github.com/noaa-oar-arl/NEXUS
# Specify either a branch name or a hash but not both.
#branch = develop
hash = 6a7a994
local_path = sorc/arl_nexus
required = True

[aqm-utils]
protocol = git
repo_url = https://github.com/NOAA-EMC/AQM-utils
# Specify either a branch name or a hash but not both.
#branch = develop
hash = 694a139
local_path = sorc/AQM-utils
required = True

[workflow-tools]
protocol = git
repo_url = https://github.com/ufs-community/workflow-tools
# Specify either a branch name or a hash but not both.
# branch = develop
hash = e1b3b6f
local_path = ush/python_utils/workflow-tools
required = True

[externals_description]
schema_version = 1.0.0
